<h1>Bands that are ready to collect their musician</h1>

<% for band in @bands %>
    <p>Name: <%= band.name() %> </p>
    <a href="/musicians/band/<%= band.id %>">Show musicians</a>
    <hr>
<% end %>

<p><a href='/bands/new'>Add a Band</a></p>