<h1>Bands Here to Collect A Musician</h1>

<ul class="frame">
  
  <% for band in @bands %>
  
    <a href="/musicians/band/<%= band.id %>"><img src="<%= band.logo_url() %>"></a>
  
  <% end %>

</ul>

<p><a class="button" href='/bands/new'>Add a Band</a></p>
