<h1>Bands Here to Collect A Musician</h1>

<table>

  <tr>
    <th>Band Memebers that have been to HND Rehab</th>
  </tr>

<% for band in @bands %>
  <tr>
    <td><a class="button" href="/musicians/band/<%= band.id %>"><img src="<%= band.logo_url() %>"></a></td>
  </tr>
<% end %>

</table>

<p><a href='/bands/new'>Add a Band</a></p>
