<h1>All Musicians</h1>

<% for musician in @musicians %>
    <p>Name: <%= musician.name() %> </p>
    <p>Instrument: <%= musician.instrument %></p>
    <p>Days Spent in Rehab: <%= musician.days_here %></p>
    <p><a href='/musicians/<%= musician.id %>'>Show</a></p>
    <hr>
<% end %>