<!DOCTYPE html>
<html>
<head>
  <title>Rock Rehab</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
</head>
<body>
<main class="nav flex">
<nav>
    <ul>  
        <li>
            <a href="/bands">All Bands</a>
        </li>

        <li>
            <a href="/musicians">All Mucisians</a>
        </li>

        <li>
            <a href="/musicians/new">Add Musician</a>
        </li>
    </ul>
</nav>
    <div class = "content">
      <%= yield %>
    </div>
  <img src = "http://rightpathdrugrehab.com/wp-content/uploads/2014/07/rpdr-logo@2x111.png?w=240&h=160&crop=1" id="logo" height=500>
  </div>
</body>
</html>