<!DOCTYPE html>
<html>
<head>
  <title>Rock Rehab</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
</head>
<body>
<nav>
    <ul>  
        <li>
            <a href="/bands">All Bands</a>
        </li>

        <li>
            <a href="/musicians">All Mucisians</a>
        </li>

        <li>
            <a href="/musicians/new">Add Musician</a>
        </li>
    </ul>
</nav>
    <%= yield %>
</body>
</html>