<!DOCTYPE html>
<html>
<head>
  <title>Rock Rehab</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
</head>
<body>
<div class="nav">
    <ul>  
        <li>
            <a href="/bands">Bands</a>
        </li>

        <li>
            <a href="/musicians">Musicians</a>
        </li>

        <li>
            <a href="/musicians/new">Drug Problems? Sign up Here</a>
        </li>
    </ul>
</div>
      <%= yield %>
</body>
</html>