<!DOCTYPE html>
<html>
<head>
  <title>Rock Rehab</title>
  <link type = 'text/css' rel='stylesheet' href='/style.css'>
  <link rel="icon" href="http://teezeria.com/images/designs/7200-7201img_47.png" />
</head>
<body>
  <div class="nav">
    <ul>  
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/musicians">Musicians</a>
      </li>
      
      <li>
        <a href="/bands">Bands</a>
      </li>

      <li>
        <a href="/musicians/new">Drug Problems? Sign up Here</a>
      </li>
    </ul>
  </div>
  <%= yield %>
</body>
<div class ="footer">
  <p> <%= ["Avoid a tragic death, stay away from crystal meth", "Drugs gave me wings to fly, but it took away my blue sky", "Lions and Tigers and Bears oh my… Drinking and Smoking and Drugs? Goodbye!", "Wasted? So is your life", "Don’t Huff, Don’t Puff. Keep away from that stuff!", "Marijuana, when mixed with hay, causes death to the horses that eat it", "“Nothing is impossible; the word itself says, ‘I’m possible!’” – Audrey Hepburn", "“When everything seems to be going against you, remember that the airplane takes off against the wind, not with it.” – Henry Ford"].sample %> </p>
  <p class ="tagline">HND Rehabilitation Centre: 30 days, no delays, start today </p>
</div>
</html>