<h1>New Admission</h1>

<form action="/musicians" method = "post">
    <label>
        <span>Name:</span>
        <input type="text" name="first_name"/>
    </label>

    <label>
        <span>Instrument:</span>
        <input type="text" name="last_name"/>
    </label>

    <input type="submit" value="Admit">
</form>