<h1>New Admission</h1>

<form action="/musicians" method = "post">
    <label>
        Name:
        <input type="text" name="name"/>
    </label>

    <label>
        <span>Instrument:</span>
        <input type="text" name="instrument"/>
    </label>

  <label>
      <span>Days in Rehab:</span>
      <input type="number" name="days_here"/>
  </label>

  <label>
      <span>Band:</span>
      <select name="band_id">
         <% for band in @bands %>
         <option value="<%= band.id %>">
           <%= band.name %>
          </option>
      
         <% end %>
      </select>
  </label>

    <input type="submit" value="Admit">
</form>