<h1>New Admission</h1>

<form action="/musicians" method = "post">
    <label>
        <span>Name:</span>
        <input type="text" name="name"/>
    </label>

    <label>
        <span>Instrument:</span>
        <input type="text" name="instrument"/>
    </label>

    <label>
        <span>Previous Days in Rehab:</span>
        <input type="number" name="days_here"/>
    </label>

    <input type="submit" value="Admit">
</form>