form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 20%;
}

form label input {
    width: 40%;
}

.nav ul {
  list-style: none;
  background-color: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 38px;
  font-style: oblique;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 41.8px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
/*.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}*/
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 170px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
/*
nav ul {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/

body {
  background-image: url(http://teezeria.com/images/designs/7200-7201img_47.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  background-attachment: fixed;
  background-color: #F0FFFF;
  font-family: Consolas, monaco, monospace;
}

h1 {
  font-size: 1.8em;
  color: #1E90FF;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #000000;
    font-size: 13px;
    background: #2656d1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #d2c0fa;
    background-image: -webkit-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -moz-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -ms-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -o-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: linear-gradient(to bottom, #d2c0fa, #9bcefa);
    text-decoration: none;
  }




