form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 20%;
}

form label input {
    width: 40%;
}

nav ul {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

body {
  background-image: url(http://teezeria.com/images/designs/7200-7201img_47.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #F0FFFF;
  font-family: Consolas, monaco, monospace;
}

h1 {
  font-size: 1.8em;
  color: #1E90FF;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #000000;
    font-size: 13px;
    background: #2656d1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #d2c0fa;
    background-image: -webkit-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -moz-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -ms-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: -o-linear-gradient(top, #d2c0fa, #9bcefa);
    background-image: linear-gradient(to bottom, #d2c0fa, #9bcefa);
    text-decoration: none;
  }




